<form action='<%="/p#{@char}_set_name"%>' method='post'>
  <label for="player_name"> Player <%=@char%> select your name
    <input type="text" name="player_name" />
  </label>
  <button>Get ready to rumble</button>
</form>
