<!-- <meta HTTP-EQUIV="REFRESH" content="0; url=http://www.yourdomain.com/index.html"> -->
<%=@game.defender.name%> is minding his own business


<form action="/attack" method="get">
 <button>whistling</button>
</form>
